.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.dark{
    background-color: #779556;
}
.light{
    background-color: #EBECD0;
}

